.logo-backgound{
    padding: 10px;
    background-color: rgb(37, 17, 104);
    color: white;
    border-radius: 50px;
    border: 1px solid white;

}
.logo-backgound:hover{
    background-color: white;
    color:rgb(37, 17, 104);
    border: 1px solid rgb(37, 17, 104);
    cursor: pointer;
}
.logo-backgound:active{
    background-color: red;
    color: white;
}
.line-style{
    width: 25%;
    height: 1px;
    border: 1px solid black;
}