.banner{
    margin-bottom: 80px;
}
.captions{
    margin-bottom: 3%;
    
}
.captions h3{
    color: rgb(0, 0, 0);
}

@media screen and (max-width:576px) {
    .banner-img{
        height: 250px!important;
    }
}